<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Salud</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
</head>
<body class="container">
    <h2>Formulario de Salud</h2>
    <form method="POST">
        <label>Estado Físico y Mental (1-10)</label>
        <input type="number" name="estado_fisico_mental" min="1" max="10" required>

        <label>Cuidado del Cuerpo (1-10)</label>
        <input type="number" name="cuidado_cuerpo" min="1" max="10" required>

        <label>Calidad del Sueño (1-10)</label>
        <input type="number" name="calidad_sueno" min="1" max="10" required>

        <label>Manejo del Estrés y Emociones (1-10)</label>
        <input type="number" name="manejo_estres_emociones" min="1" max="10" required>

        <label>Hábitos Saludables (1-10)</label>
        <input type="number" name="habitos_saludables" min="1" max="10" required>

        <button type="submit">Siguiente</button>
    </form>
</body>
</html>
